:root{
   /*Almacena variables*/
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario: #ffc107; 
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    font-size: 62.5;
}
body{
    font-size: 16px;
    /* 1 rem=10px*/
    font-family: 'Istok Web', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.5rem; 
    color: var(--blanco);
    font-family: 'Permanent Marker', cursive; 
    font-weight: 400;
}
h1.titulo{
    text-align: center;
    font-size: 3.8rem; 
    color: var(--oscuro);
    font-family: 'Permanent Marker', cursive;
}

.titulo span{
    font-size: 1.5rem;
}

.contenedor{
    /* si es que hay 120rem */
    max-width: 120rem; /*Acorta o ensancha el largo*/
/* margin: TOP RIGTH BOT LEFT */
    margin: 0 auto ; /* En que posicion se coloca un elemento */
/* Si solo hay 2 valores sobreentiende que 0 es top y bot */
}

.nav_bg{
    background-color: var(--secundario);
}

.navegacion_principal{

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
   
    .navegacion_principal{

        flex-direction: row;
        justify-content: space-between;
       
    }
}

.navegacion_principal a{

    color: var(--blanco);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem;
}

/* pseudo clases */
/* a:hover va junto */
.navegacion_principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);

}

.hero{
    background-image: url(../imagenes/fondo-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450;
    padding: 20px;
}

